MY_DATABASE_URL = "postgresql+asyncpg://neondb_owner:abc?ssl=require"


MY_JWT_SECRET = "abcdefghijklmnopqrstuvwxyz123456"
MY_JWT_ALGORITHM = "HS256"
REDIS_HOST = "thelocalhost"
REDIS_PORT = 6379

MAIL_USERNAME = "myemail@gmail.com"
MAIL_FROM = "myemail@gmail.com"
MAIL_PASSWORD = "abcd efgh ijkl mnop"
MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = 465
MAIL_FROM_NAME = "BookAPI"

DOMAIN = "localhost:8000"



